<!DOCTYPE html>
<html>
    <head>
        <title>{{ gluggi.config.title }}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ coreAsset("/css/preview.css") }}">
        <link rel="stylesheet" href="{{ asset("/css/app.css") }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
