{% if options.includeNavigation %}
    <button class="gluggi-navigation-button" id="gluggi-navigation-button" type="button">Nav</button>
    <div class="gluggi-navigation" id="gluggi-navigation">
        <div class="gluggi-navigation-elements"></div>
    </div>
{% endif %}

{# @var elements \BecklynLayout\Entity\Element[] #}
{% for element in elements %}
    <div class="gluggi-element" id="{{ element.id }}">
        <a class="gluggi-element-title" href="#{{ element.id }}">{{ element.fullTitle }}</a>
        <div class="gluggi-element-stage">
            {% include element.reference with {options: options} %}
        </div>
    </div>
{% endfor %}
