{% for template in templates %}
<div class="becklyn-preview-template-page" data-title="{{ template|preview_title }}" id="{{ template|preview_anchor }}">
    <div class="becklyn-preview-template">
        {% include template %}
    </div>
</div>
{% endfor %}
