{% for template in templates %}
<div class="becklyn-preview-template-page is-full-page" id="{{ template|preview_anchor }}">
    <div class="becklyn-preview-template" data-title="{{ template|preview_title }}">
        {% include template %}
    </div>
</div>
{% endfor %}
