@import url("//fonts.googleapis.com/css?family=Roboto");

body {
    background-color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 100%;
}

main {
    max-width: 960px;
    margin: 4em auto;
}

h1 {
    font-weight: 400;
    font-size: 3em;
}

h2 {
    margin-top: 3em;
}

h1 + h2 {
    margin-top: 1em;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    margin-bottom: .5em;
}

small {
    color: #AAA;
    font-size: .8em;
}

li small {
    margin-left: .5rem;
}
