html, body {
    background-color: white;
    margin: 0;
}

.gluggi-element {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(108, 113, 127, .3);
    position: relative;
    padding: 10px;
    text-align: center;
}


.gluggi-element:last-child {
    border: 0;
}


.gluggi-element-stage {
    margin: 100px auto 120px;
    box-shadow: 0 0 4px 2px rgba(108, 113, 127, .3);
    padding: 20px;
    background-color: white;
    display: inline-block;
    text-align: left;
    position: relative;
}

.gluggi-element-title {
    display: block;
    text-align: right;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: rgba(108, 113, 127, .7);
    text-decoration: none;
}
