html, body {
    background-color: #fff;
    margin: 0;
}

.gluggi-element {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(108, 113, 127, .3);
    position: relative;
    padding: 10px;
    text-align: center;
    z-index: 1;
}


.gluggi-element:last-child {
    border: 0;
}


.gluggi-element-stage {
    margin: 100px auto 120px;
    box-shadow: 0 0 4px 2px rgba(108, 113, 127, .3);
    padding: 20px;
    background-color: #fff;
    display: inline-block;
    text-align: left;
    position: relative;
}

.gluggi-element-title {
    display: block;
    text-align: right;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: rgba(108, 113, 127, .7);
    text-decoration: none;
}

.gluggi-navigation-button {
    position: fixed;
    top: 20px;
    left: 10px;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 2px 1px rgba(108, 113, 127, .3);
    color: rgba(108, 113, 127, .7);
    cursor: pointer;
    z-index: 3;
    outline: 0;
    font-size: 14px;
    border: 0;
}

.gluggi-navigation-button:hover {
    box-shadow: 0 0 2px 1px rgba(108, 113, 127, .7);
}

.gluggi-navigation-button:active {
    background-color: rgb(108, 113, 127);
    color: #fff;
}

.gluggi-navigation {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    height: 100%;
    width: 300px;
    max-width: 100%;
    top: 0;
    background-color: rgb(108, 113, 127);
    box-sizing: border-box;
    padding: 80px 0 20px;
    box-shadow: 0 2px 4px 2px rgba(108, 113, 127, .3);
}

.gluggi-navigation-elements a {
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.gluggi-navigation-elements a:hover {
    color: rgb(108, 113, 127);
    background-color: #fff;
}

.gluggi-navigation.is-visible {
    display: block;
}

.gluggi-navigation-elements {
    max-height: 100%;
    overflow-y: auto;
}

.gluggi-link-index {
    position: absolute;
    top: 20px;
    right: 10px;
    color: #fff;
}

.gluggi-navigation-filter {
    margin: 0 auto 10px;
    border: 0;
    width: 100%;
    display: block;
    height: 50px;
    padding: 0 15px;
    outline: none;
}
